[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
transformers = "*"
tensorflow = "*"
tf-keras = "*"
sentencepiece = "*"
langchain-community = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
